.inter-normal> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}


.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

/* shared style */
.logo-style {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #4E47FF;
}

.btn-primary {
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}

.btn-primary:hover {
    color: black;
    background-color: rgb(167, 216, 69);
    cursor: pointer;
    font-size: 17px;
}

.section-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    line-height: 120%;
    color: rgba(37, 36, 50, 1);
}

.section-subtitle {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    height: 4043px;
    background-color: #F5F8FF;
    margin: 0 auto;
}

/* header styles */
header {
    height: 698px;
    background-image: url(../images/Hero-bg.png);
    background-size: contain;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 909px;
    padding: 50px 150px 0 150px;
}

nav h2 {
    font-size: 34px;
}

.banner-content {
    text-align: center;
    position: relative;
    top: 25%;
}

.banner-title {
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}

/* main style */
main {
    width: 1140px;
    margin: 0 auto;
}

/* action section */
.action {
    display: flex;
    gap: 220px;
    align-items: center;
    font-family: "Raleway", sans-serif;
    margin-top: 116px;
}

.action .action-descriptions .section-title {
    font-size: 42px;
    margin-bottom: 23px;
}

.action .action-descriptions .section-descrip {
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin-bottom: 23px;
}

.action img {
    border-radius: 48px;
}

/* productive user */
.productive-users {
    height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-top: 116px;
    text-align: center;
    padding-top: 50px;
}

.productive-users .section-title {
    font-size: 38px;
    margin-bottom: 40px;
}

.user-state {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 50px; */
}

.productive-users .user-state .data h2 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}

.productive-users .user-state .data p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
/* feedback section */
.feedback{
    height:342px;
    margin-top:137px;
    text-align: center;
}
.feedback .section-title{
    font-size: 42px;
    margin-bottom:50px;
}
.review-section{
    height: 195px;
    width: 318.67px;
    background-color:rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    text-align: left;
    border: 1px solid #F2EDED;
    border-radius: 14px;
    padding: 24px;
}
.feedback .review-section .star-icons{
    margin-bottom:24px;
}
.feedback .review-section .review-title{
    font-size: 24px;
    font-weight: 600;
    color:#1E1E1E;
    margin-bottom: 8px;
}
.feedback .review-section .review-description{
    font-size: 16px;
    font-weight: 400;
    color:#1E1E1E;
    margin-bottom: 24px;
    line-height: 140%;
}
.reviewer-details{
    display: flex;
    gap: 12px;
}
.feedback .review-section .reviewer-details .reviewer{
    border-radius: 50%;
}
.feedback .review-section .reviewer-details .reviewer-description #reviewer-name{
    font-size: 16px;
    font-weight:600;
    color:#757575;
    margin-bottom:2px;
}
.feedback .review-section .reviewer-details .reviewer-description #review-date{
    font-size: 16px;
    font-weight:400;
    color:#B3B3B3;
}
.reviews{
    display: flex;
    gap: 20px;
}


/* cta-section */
.cta-section {
    height: 696.77px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 137px;
    border-radius: 14px;
}

.cta-div {
    text-align: center;
    position: relative;
    top: 71px;
}

.cta-section .section-title {
    font-size: 50px;
    margin-bottom: 20px;
}

.cta-section .btn-primary {
    margin-bottom: 20px;
}

.cta-section .cta-preview img {
    border-radius: 48px;
}

/* contact styles */
.contact {
    height: 632px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.contact .contact-content h1 {
    font-family: "Raleway", sans-serif;
    font-size: 97px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}
.contact form label {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    display: block;
    margin-bottom: 10px;
}
.contact form input[type="email"],
.contact form input[type="text"],
textarea {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 1);
    width: 433px;
    padding: 20px 32px;
    border-radius: 10px;
    border: 1px solid rgba(214, 221, 237, 1);
    margin-bottom: 19px;
}
.contact form input[type="email"],
.contact form input[type="text"] {
    height: 50px;
}
textarea {
    height: 115px;
    resize: none;
}
.contact form .btn-primary {
    display: block;
    width: 497px;
    height: 62px;
    transition: 0.5s;
}
.contact form .btn-primary:hover {
    width: 498px;
    height: 63px;
}
/* footer style */
footer{
  width: 1440px; 
  height: 428px;
  background-color:rgba(255, 255, 255, 1);
  text-align: center;
}
.footer-contents{
    width: 531px;
    height:221px;
    position: relative;
    top: 22%;
    left: 33.33%;
}
.footer-contents .logo-style{
    font-size:100px;
    margin-bottom:8px;
}
.footer-contents .section-subtitle{
    margin-bottom:20px;
}
.footer-contents .links ul{
list-style: none;
}
.footer-contents .links ul a{
    text-decoration: none;
}
.links ul{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    margin-left:65px;
}

