.inter-normal> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}


.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

/* shared style */
.logo-style {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #4E47FF;
}

.btn-primary {
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}

.btn-primary:hover {
    color: black;
    background-color: rgb(167, 216, 69);
    cursor: pointer;
    font-size: 17px;
}

.section-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    line-height: 120%;
    color: rgba(37, 36, 50, 1);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    margin: 0 auto;
}

/* header styles */
header {
    height: 698px;
    background-image: url(../images/Hero-bg.png);
    background-size: contain;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 909px;
    padding: 50px 150px 0 150px;
}

nav h2 {
    font-size: 34px;
}

.banner-content {
    text-align: center;
    position: relative;
    top: 25%;
}

.banner-title {
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}

/* main style */
main {
    width: 1140px;
    margin: 0 auto;
}

/* action section */
.action {
    display: flex;
    gap: 220px;
    align-items: center;
    font-family: "Raleway", sans-serif;
    margin-top: 116px;
}

.action .action-descriptions .section-title {
    font-size: 42px;
    margin-bottom: 23px;
}

.action .action-descriptions .section-descrip {
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin-bottom: 23px;
}

.action img {
    border-radius: 48px;
}

/* productive user */
.productive-users {
    height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-top: 116px;
    text-align: center;
    padding-top: 50px;
}

.productive-users .section-title {
    font-size: 38px;
    margin-bottom: 50px;
}

.user-state {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.productive-users .user-state .data h2 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}

.productive-users .user-state .data p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}